
page-mentor-list {
    .mentor-list{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    // .greenos{
    // 	height: 4%;
    // 	width: 4%;
    // 	display: block;
    // 	margin:0 auto;
    // }
    .card-content{
        padding: 0;
    }
    .mentor-pic{
        width:100%;
        height:100%;
        
    }
    .row{
        height: 75px;
        overflow: hidden;
    }
    p{
        font-size: 12px;
    }
    
    .cardcolor{
        background-color: #F2F2F2;
    }
    .cardcolor2{
        background-color: #F2F2F2;
    }
    .cardcolor3{
        background-color: #F2F2F2;
    }
    .cardcolor4{
        background-color: #F2F2F2;
    }}
    
    