page-mentors {

// .greenos{
// 	height: 4%;
// 	width: 4%;
// 	display: block;
// 	margin:0 auto;
// }

img{
    height: 73%;
    width: 40%;
    display: block;
    margin:0 auto;
}

.cardcolor{
	background-color: #F2F2F2;
}
.cardcolor2{
	background-color: #F2F2F2;
}
.cardcolor3{
	background-color: #F2F2F2;
}
.cardcolor4{
	background-color: #F2F2F2;
}}

