.sidemenubutton {
	width: 230px;
	height: 40px;
}
.user1-menu{
    width:100%;
	border-radius: 50%;
 	display: block;
	margin:0 auto;
	margin-bottom: 60px;
	transform: scale(.75);
	height:auto;
}
.toolbar-background{
	border: none !important;
}